$dark: #01080E;
$white: #FFFFFF;
$orange: #FEA55F; //used for buttons
$green: #43D9AD;
$secondary_green: #3C9D93;
$blue: #4D5BCE;
$perpure: #C98BDF;
$red: #E99287;
$light_grey: #607B96;
$dark_grey: #1E2D3D;
$dark_blue: #011221;
$light_dark: #011627; //background
