@import "null";
@import "variables";

//import fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html {
	font-size: 16px;
	font-family: 'Fira Code', monospace;
}

body {
	background-color: $light_dark;
	color: $light_grey;
}

a {
	color: $light_grey;
}

svg {
	font-size: 1rem;
}

.container {
	max-width: 1170px;
	margin: auto;
}